h1 {
    text-align: center;
    color: darkmagenta;
}
h1:hover {
    text-align: left;
}
body {
    background-color: goldenrod;
}
#car{
    display: block;
    margin-left: auto;
    margin-right: auto;
}