h1 {
    text-align: center;
    color: darkmagenta;
}
h1:hover {
    text-align: left;
}
body {
    background-color: goldenrod;
}
#car{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    background-color: #333;
    overflow: hidden;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.nav a:hover{
    background-color: aqua;
}